[Unit]
Description=pipanel
After=graphical.target

[Service]
User=root
WorkingDirectory=/home/pi/pipanel
ExecStartPre=/bin/bash /home/pi/pipanel/update.sh
ExecStart=/usr/bin/python3 /home/pi/pipanel/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
