[Unit]
Description=pipanel
After=pipanel-update.service
Wants=pipanel-update.service

[Service]
User=root
WorkingDirectory=/home/pi/pipanel
ExecStart=/home/pi/pipanel/.venv/bin/python3 /home/pi/pipanel/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
